@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    scroll-behavoiur: smooth;
}

header{
    display: flex;
    justify-content: center;
    width: full;
    height: 100vh;
    align-items: center;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/photo-two.jpg);
}

.header_container{
    width: 90%;
}

header h1{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

header h5{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
    color: #BBE2EC;
    margin-top: 1rem;
}
header .btn_container{
    margin-top: 2rem;
    text-align: center;
}
header .btn_container button{
    border: none;
    background: transparent;
} 

.full_site_link{
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: #000;
    background: burlywood;
    padding: 12px 24px;
    border-radius: 5px;
    border: 1px solid #000;
}
.full_site_link:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: all ease-in-out 0.8s;
}

/*  Why Section */
.why_section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF6E9;
}
.why_section_container{
    width: 90%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.why_section_container h1{
    font-size: 2.5rem;
    text-align: center;
}
.card_section{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: space-between;
    gap: 20px;
    grid-column: 3;
}
.card{
    display: flex;
    width: 350px;
}
.card span{
    font-size: 4rem;
    margin: auto 5px;
}
.card h5{
    font-size: 2rem;
    color: #40A2E3;
}
.card p{
    color: #1F2544;
    font-size: 1rem;
}

/*      About Section       */
.about_section{
    display: flex;
    justify-content: center;
    width: 100%;
    height:100vh;
    align-items: center;
}
.about_div{
    display: flex;
    width: 90%;
}
.about_text {
    margin: auto;
    margin-right: 50px;
}
.about_text h1{
    font-size: 2.5rem;
}
.about_text p{
    margin:30px 0;
}
.about_text button{
    border: none;
    background: transparent; 
}
.about_text a{
    display: flex;
    align-items:center;
    text-decoration: none;
    background: burlywood;
    color: #000;
    padding: 12px 24px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: all ease-in 0.3s;
}
.about_text a span{
    margin: auto 0 auto 5px; 
}
.about_text a:hover{
    background: transparent;
}
.about_section img{
    width: 600px;
    border-radius: 10px;
}
/* Footer Section */
footer {
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
}
.footer_section{
    width: 90%;
}
.footer_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0 50px 0;
}
.company_text_footer{
    width: 350px
}
.company_text_footer p{
    color: lightgray;
    font-size: 1rem;
}
footer h5{
    font-size: 2rem;
}
footer h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-decoration: underline;
}
footer ul{
    list-style-type: none;
}
footer a{
    text-decoration: none;
    margin: 5px 0;
    color: #fff;
    font-size: 0.9rem;
}
footer a:hover{
    color: gray;
    transition: all ease-in 0.3s;
}
.footer_section .footer_top ul li span.material-symbols-outlined {
    vertical-align: middle;
}
.footer_section .footer_bottom{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}