@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: lightgray;
}

/*  Navbar */
nav .material-symbols-outlined{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: burlywood;
    width: 100%;
    z-index: 9999;
}
nav ul{
    display: flex;
    position: static;
}
nav ul li {
    margin: 0 30px;
}
nav .logo{
    width: 200px;
    margin-left: 10px;
}
nav ul li a{
    color: #000;
    padding: 12px 5px;
    border-bottom: 3px solid burlywood;
}
nav ul li a:hover{
    border-bottom: 3px solid #000;
    transition: all ease-in 0.5s;
}
nav ul li:nth-child(1) a {
    border-bottom: 3px solid #000;
}


/*      Responsive Navbar    */
@media only screen and (max-width: 768px) {
    nav .material-symbols-outlined{
        display: block;
        margin-right: 20px;
        font-size: 2rem;
        font-weight: 300; 
    }
    nav ul,
    .menuOpen,
    .menuClosed{
        position: absolute;
        display: block;
        right: 0;
        width: 0;
        top: 60px;
        padding-top: 100px;
        background-color: burlywood;
        height: 92vh;
        align-items: center;
        overflow: hidden;
        transition: all ease-in 1s;
    }
    .menuOpen{
        width: 50%;
        opacity: 1;
    }
    .menuClosed{
        width: 0;
        margin-right: -300px;
        opacity: 0;
    }
    nav ul li {
        padding: 30px 0;
        text-items: center;
    }
}
@media only screen and (max-width: 500){
    nav .logo{
    width: 50px;
    margin-left: 10px;
}
}

/*      Body Starts Here       */
.div_body{
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Header Section */
header{
    display: flex;
    margin-top: 100px;
    height: 100%;
    align-items:center;
}
.image_section img{
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
}
.header_text_section{
    margin-right: 20px;
}
.header_text_section h1, 
.about_title{
    font-size: 2.5rem;
}
.header_text_section p{
    color: gray;
    margin: 15px 0
}
.stats_section{
    display: flex;
}
.stats_section p{
    margin: 0;
}
.stats_card{
   margin: 10px 30px 0 0;
}

/* Responsive header section*/
@media only screen and (max-width: 999px) {
    header{
        flex-direction: column-reverse;
        margin-top: 60px;
    }
    .image_section img{
        width: 100%;
    }
    .header_text_section h1,
    .about_title{
        font-size: 1.5rem;
    }
    .header_text_section{
        margin-right: 0px;
        padding-top: 50px; 
    }
}
@media only screen and (max-width: 300px) {
    .header_text_section p{
        font-size: 0.8rem;
    }
}

/*About Us section*/
.about_section{
    padding: 100px 0;
}
.about_title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
}
.about_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about_text{
    width: 450px;
    margin: auto;
}

@media only screen and (max-width: 450px){
    .about_text{
        width: 270px;
        margin-top: 50px;
        text-align: center;
    }
}

/* Our Mission */
.marquee_section{
    width: 100%;
    height: 60px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/photo-two.jpg);
    background-position: center;
    align-items:center;
}
.marquee_section marquee{
    font-size: 2rem;
    color: #fff;
}
@media only screen and (max-width: 648px) {
    .marquee_section marquee{
        font-size: 1rem;
    }
}

/* Customer section*/
.customer_section{
    margin: 80px auto;
    width: 90%;
    diplay: flex;
    justify-content: center;;
}
.customer_section .customer_main_card{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 100px;
    height: 260px
    overflow-x: auto;
    overflow-y: hidden;
}
.customer_card{
    padding: 30px;
    width: 300px;
    height: 230px;
    margin: 50px 0;
    border-radius: 10px;
    background-color: burlywood;
}
.customer_section .customer_main_card::-webkit-scrollbar {
    height: 5px; /* Adjust the height of the scrollbar */
}

.customer_section .customer_main_card::-webkit-scrollbar-thumb {
    background-color: burlywood; /* Set the color of the thumb (the moving part) */
}

.customer_section .customer_main_card::-webkit-scrollbar-track {
    background-color: lightgray; /* Set the color of the track (the non-moving part) */
}

/* Footer Section */
footer {
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
}
.footer_section{
    width: 90%;
}
.footer_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 0 50px 0;
}
.company_text_footer{
    width: 350px
}
.company_text_footer p{
    color: lightgray;
    font-size: 1rem;
}

/* Footer Section */
footer h5{
    font-size: 2rem;
}
footer h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-decoration: underline;
}
footer ul{
    list-style-type: none;
}
footer a{
    text-decoration: none;
    margin: 5px 0;
    color: #fff;
    font-size: 0.9rem;
}
footer a:hover{
    color: gray;
    transition: all ease-in 0.3s;
}
.footer_section .footer_top ul li span.material-symbols-outlined {
    vertical-align: middle;
}
.footer_section .footer_bottom{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Responsive Footer*/
@media only screen and (max-width: 700px){
    .footer_top{
        display: flex;
        flex-direction: column;
    }
    footer h5{
        font-size: 2rem;
    }
    footer h3{
        font-size: 1.5rem;
        margin: 30px 0 10px 0;
    }
    .footer_section .footer_bottom{
        display:flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}